.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ab
{
  color:aqua;
  margin: -2px;
}
.xx{
  background-color: #000000;
  min-height: 70vh;
  font-size: calc(10px + 2vmin);
  color: white;
  resize: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{ margin: 2px;}
.column-left{ float: left; width: 33%;}
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }
